:root {
  --global-bg: #fff;
  --hr-border: #97bcfb;
  --hr-before-color: #6ea2f9;
  --search-bg: #f6f8fa;
  --search-input-color: #4c4948;
  --search-result-title: #4c4948;
  --preloader-bg: #37474f;
  --preloader-color: #fff;
  --tab-border-color: #f0f0f0;
  --tab-botton-bg: #f0f0f0;
  --tab-botton-color: #1f2d3d;
  --tab-button-hover-bg: #dcdcdc;
  --tab-button-active-bg: #fff;
  --sidebar-bg: #f6f8fa;
  --btn-hover-color: #ff7242;
  --btn-color: #fff;
  --btn-bg: #307af6;
  --text-bg-hover: #307af6;
  --light-grey: #eee;
  --text-highlight-color: #1f2d3d;
  --blockquote-color: #6a737d;
  --blockquote-bg: rgba(73, 177, 245, 0.1);
  --reward-pop: #f5f5f5;
  --toc-link-color: #666261;
  --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
  --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
  --heo-theme: #00ae06;
  --heo-theme-op: #5FA48223;
  --heo-theme-op-deep: #5FA482dd;
  --heo-theme-op-light: #5FA4820d;
  --heo-theme-none: #4259ef01;
  --heo-blue: #425AEF;
  --heo-red: #f04a63;
  --heo-pink: #FF7C7C;
  --heo-green: #57bd6a;
  --heo-yellow: #936900;
  --heo-yellow-op: #d99c001a;
  --heo-orange: #e38100;
  --heo-purple: #7a60d2;
  --heo-fontcolor: #363636;
  --heo-background: #f7f9fe;
  --heo-reverse: #000;
  --heo-maskbg: rgba(255, 255, 255, 0.6);
  --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
  --heo-hovertext: var(--heo-main);
  --heo-ahoverbg: #F7F7FA;
  --heo-lighttext: var(--heo-main);
  --heo-secondtext: rgba(60, 60, 67, 0.8);
  --heo-scrollbar: rgba(60, 60, 67, 0.4);
  --heo-card-btn-bg: #edf0f7;
  --heo-post-blockquote-bg: #fafcff;
  --heo-post-tabs-bg: #f2f5f8;
  --heo-secondbg: #f7f7f9;
  --heo-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --heo-card-bg: #fff;
  --heo-card-bg-op: var(--heo-black-op);
  --heo-card-bg-none: rgba(255, 255, 255, 0);
  --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-card-border: #e3e8f7;
  --heo-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border: 1px solid var(--heo-card-border);
  --style-border-always: 1px solid var(--heo-card-border);
  --style-border-hover: 1px solid var(--heo-main);
  --style-border-hover-always: 1px solid var(--heo-main);
  --style-border-dashed: 1px dashed var(--heo-theme-op);
  --style-border-forever: 2px solid var(--heo-main);
}

body {
background: #f8f9fe;;
}

.shadow-box {
box-shadow: var(--heo-shadow-border);
background: #FFFFFF;
border: 1px solid var(--heo-card-border);
}

.item-name {
font-weight: bold;
padding-left: 0px!important;
}

.btn-primary {
  background-color: var(--heo-theme);
}

.hp-bar-big .beat[data-v-636dc6a9] {
  background-color: var(--heo-theme);
}

.bg-primary {
  background-color: var(--heo-theme)!important;
}

.title-flex {
  justify-content: center;
}

.refresh-info.mb-2 {
display: none;
}

.mt-3 {
  margin-top: 3rem!important;
}

a {
  text-decoration: none!important;
}


.monitor-list .monitor-list {
  min-height: 46px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 创建两列，每列占50%的宽度 */
}

.group-title span {
  margin-left: 24px;
  font-size: 26px;
  display: flex!important;
  align-items: center;
  gap: 4px;
}

.group-title i {
  font-size: 26px;
  color: var(--heo-theme);
}

.extra-info {
  flex-wrap: wrap;
  margin-bottom: 0;
}

.container-md, .container-sm, .container {
  max-width: 1200px;
}


@media screen and (max-width: 768px) {
  .monitor-list .monitor-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.overall-status .ok {
  color: var(--heo-green)!important;
}

.item .row {
  justify-content: space-between;
}

.col-md-8 {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.col-md-4 {
  width: 50%;
}

.bg-danger,.bg-warning {
color: #FFFFFF;
}

.monitor-list .item .info {
  display: flex;
  flex-wrap: wrap;
}

.bg-primary {
  display: none;
}

.mobile .item {
  padding: 13px 8px 10px 8px!important;
}

@media screen and (max-width: 768px) {
  .group-title i {
    font-size: 18px;
  }

  .group-title span {
    font-size: 18px;
  }

  .mb-5 {
    margin-bottom: 2rem!important;
  }
}
